.html {
  overflow: hidden;
  margin: 0;
}

.sidebar {
  height: 100%;
  //padding: 0 86px 0px 85px; //transform to rem
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $background;
  
  .admin {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    img {
      border-radius: 100%;
      width: 6rem;
      margin-bottom: 2rem;
    }

    .username {
      font-family: $std_font;
      font-size: 1.5rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $primary_text;
      margin-bottom: 1rem;
    }

    .email {
      font-family: $std_font;
      font-size: .875rem;
      text-align: center;
      color: $primary_text;
    }
  }

  .navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 100%;
    margin-top: 2rem;

    .nav-item {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      img {
        width: 1.2rem;
      }

      &:hover {
        filter: invert(19%) sepia(42%) saturate(2468%) hue-rotate(167deg)
          brightness(100%) contrast(101%);
      }

      p {
        margin: .25rem 0 0.188rem 0.75rem;
        font-family: $std_font;
        font-size:.875rem;
      }

      &:hover {
        font-weight: bolder;
      }
    }

    .bottom-nav {
      font-family: $std_font;
      font-size: .875rem;
      color: $primary_text;
      margin-top: 75%;
    }
  }
}
