.dash {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: $background-message;

  .messages {
    margin-bottom: 20px;
    width: 80vw;
    height: 38px;
    padding-left: 30px;
    padding-top: 2%;
    font-family: $std_font;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    display: flex;
    color: $primary_text;
  }
  .rectangle {
    width: 46px;
    height: 20px;
    margin: 7px 0px 0px 30px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: $new_background;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .-new {
    width: 30px;
    height: 12px;
    font-family: $std_font;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $new_text;
  }

  .msg-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: 2%;
  }

  .dashboard-left-menu {
    width: 100%;
  }

  .right-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
}
