.chats-list {
  width: 50%;
  margin: 0 2% 3% 2%;
  padding: 3% 0 0;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $background;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.scrollable-messages{
    flex-grow: 1;
    width: 100%;
    overflow-x: hidden;
    height: 100%;

  &::-webkit-scrollbar {
      background-color: $chatbox_primary;
      border-radius: 10px;
      width: 7px;
  }

  &::-webkit-scrollbar-thumb {
      background: $tertiary_text;
      border-radius: 10px;
  }
}

.search-label {
  padding-bottom: .5rem;
  font-family: $std_font;
  font-size: .625rem;
  color: $primary_text;
}

.search-box {
  width: 80%;
  height: 2rem; 
  border-radius: 6px;
  border: solid 1px $user-circle;
  padding-left: 1.5rem;
  box-sizing: border-box;
  background: url("/public/assets/images/icon-search.svg");
  background-size: .5rem;
  background-repeat: no-repeat;
  background-position: .5rem;
}

.search-box::placeholder {
  font-family: $std_font;
  font-size: .75rem;
  color: $tertiary_text;
}

.search-icon {
  width: .5rem;
  height: .5rem;
  margin: .125rem 5rem .125rem 0;
  font-size: .625rem;
  color: $tertiary_text;
}

.status-label {
  height: .75rem;
  padding-bottom: .5rem;
  font-family: $std_font;
  font-size: .625rem;
  color: $primary_text;
}

.status-box {
  display: flex;
  width: 100%;
  height: 2rem; 
  border-radius: 6px;
  border: solid 1px $user-circle;
  justify-content: left;
  align-items: center;

  &.img{
    justify-content: right;
  }
}

.status-icon {
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  margin: .1rem .5rem .1rem 0;
  background-color: $new_text;
  margin-left: .5rem;
}

.status-chevron {
  width: .625rem;
  height: .625rem;
  margin-right: .5rem;
  background-position: right;
  margin-left: 3rem;
}

.status-placeholder {
  width: .625rem;
  height: .625rem;
  font-family: $std_font;
  font-size: .75rem;
  color: $primary_text;
}

.status-divider {
  width: 100%;
  height: .1rem;
  margin: 0 0 .875rem;
  background-color: $background-message;
}

.message-box {
  width: 100%;
  background-color: $background;
  padding: 1rem 0 1rem 0;

  &:hover {
    background-color: $background-message;
  }

}

.message-timestamp {
  float: right;
  font-family: $std_font;
  font-size: .5rem;
  text-align: left;
  color: $tertiary_text;
}

.profile-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  margin-left: .625rem;
  padding: .3rem .3rem .3rem .3rem;
  background-color: $user-circle;
  text-align: center;
}

.profile-initials {
  width: 1rem;
  height: 1rem;
  font-family: $std_font;
  font-size: .75rem;
  font-weight: bold;
  color: $brand_primary;
}

.message-timestamp {
  margin-right: 1rem;
  font-family: $std_font;
  font-size: .5rem;
  text-align: left;
  color: $tertiary_text;
  float: right;
}

.profile-name {
  font-family: $std_font;
  font-size: 1rem;
  font-weight: bold;
  color: $primary_text;
}

.profile-email {
  font-family: $std_font;
  font-size: .625rem;
  color: $tertiary_text;
}

.message-text {
  width: 90%;
  height: 2rem;
  margin: .5rem 1rem 1rem;
  font-family: $std_font;
  font-size: .625rem;
  line-height: 1.7;
  letter-spacing: normal;
  color: $secondary_text;
}

.notif-bg {
  font-size: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: .5rem;
  height: .5rem;
  margin-left: .85rem;
  padding: 30% 30% 30% 30%;
  background-color: $new_background;
  text-align: center;
}

.notif-number {
  font-family: $std_font;
  font-size: .625rem;
  font-weight: bold;
  color: $new_text;
}

.chats-top {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 2rem;
}

.left,
.right {
  flex-grow: 1;
}

.chat-sender {
  display: grid;
  grid-template-columns: 13% 83%;
  column-gap: .5rem;
}

.sender-details {
  margin-left: .5rem;
  width: 100%;
}

.chat-bottom {
  margin-top: 1rem;
}

.search-pack {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.search-pack-left {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 1rem;
}

.active-box {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 1rem;
}
