.user-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: 32px;
  height: 32px;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;

  background-color: #ececec;
  text-align: center;

.initials {
  font-family: $std_font;
  font-size: .8rem;
  font-weight: 600;
  color: #004b65;
}

    color: #004b65;
  }




.bitmap {
  width: 42px;
  height: 42px;

  border-radius: 50%;
  overflow: hidden;

  .chat-body-logo {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.chat-body-timestamp {
  padding-top: 3px;
  width: auto;

  height: 9px;
  font-family: $std_font;
  font-size: 12px;

  color: #b8b8b8;
}

.chat-body {
  flex-grow: 1;
  height: fit-content;
  overflow: auto;

  .chat-body-client {
    display: flex;
    margin: 24px;

    .chat-body-rectangle {
      position: relative;
      padding: 10px;
      border-radius: 12px;
      border-top-left-radius: 0;

      align-items: center;
      font-family: $std_font;
    }

  }

  .chat-body-user {
    display: flex;
    flex-direction: row-reverse;
    margin: 24px;


    .chat-body-rectangle-user {
      color: white;
      padding: 10px;
      background: $my_message_grad;
      border-radius: 12px;
      border-top-right-radius: 0;
      font-family: $std_font;
    }

  }
}


.chat-entry {
  margin-left: 30px;
  border-radius: 12px;
  border: solid 1px rgb(230, 229, 229);
  bottom: 17px;
  display: flex;
  align-items: center;

  .chat-entry-text {
    border: none;
    outline: none;
    height: 40px;
    width: 90%;
    padding-left: 5px;
    font-size: 1.25rem;

    &:active{
      border: none;
      outline: none;
    }
  }
}
