.sidebar{
    background-color: $background_white;
    width: 20%;
    height: 100%;
    justify-content:center;
    align-items:center;
    //padding: 100px 86px 35px 85px;
    box-shadow: 0 0 1% 0 $brand_shadow;
    font-family: $std_font;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $std_text;
    display: flex;
}

.sidebar_user_logo{
    width: 80%;
    height: 80%;
    margin: 0 45% 25%;
}

.sidebar_username{
  font-size: 1.5rem;
}

.sidebar_email{
  font-size: 0.875rem;
}

