@import '_colors';
@import '_chat_user';


.floating_chatbox {
    display: flex;
    flex-direction: column;
    background-color: $chatbox_primary;
    color: $negative_text;
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;

    border-radius: 12px;
    width: 25%;
    max-height: 40rem;

    .closer {
        cursor: pointer;

        margin: 2px;
        width: 15px;
        height: 15px;
        background-color: #833434;
        position: absolute;
        top: -7px;
        right: -7px;
    }

    .header {
        box-shadow: inset;
        display: flex;
        flex-direction: row;
        font-size: small;
        padding: 5%;
        justify-content: space-between;
        height: fit-content;

        .subtitle {
            font-size: smaller;
            color: $secondary_text;
        }

        .avatar {
            position: relative;
            display: inline-block;

            .status {
                width: 10px;
                height: 10px;
                border-radius: 50%;

                bottom: 1px;
                right: 1px;
                background-color: $green;
                position: absolute;
            }
        }
    }

    .signup_box {
        background-color: $chatbox_secondary;
        flex-direction: column;
        text-align: center;
        align-self: center;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        width: 100%;

        .input_box {
            padding: 3%;
            margin-block: 2.5%;
            background-color: $chatbox_secondary;
            color: $tertiary_text;
            width: 80%;
            border-color: $chatbox_primary;
            border-radius: 12px;
            border-style: solid;
        }

        .start_button {
            cursor: pointer;
            font-weight: 600;
            font-size: small;
            padding: 3%;
            margin-block: 2.5%;
            background-color: $brand_secondary;
            color: $primary_text;
            text-align: center;
            width: 87.5%;
            border-radius: 12px;
            border: none;
        }
    }

    .messages_box {
        flex-direction: column;
        background-color: $chatbox_secondary;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        align-items: center;

        .user-chat-body {
            width: 100%;
            overflow-y: auto;
            max-height: 40vh;

            &::-webkit-scrollbar {
                background-color: $chatbox_primary;
                border-radius: 10px;
                width: 7px;
            }

            &::-webkit-scrollbar-thumb {
                background: $tertiary_text;
                border-radius: 10px;
            }

            .user-chat-body-client {
                flex-direction: row;
                justify-content: left;

                .user-chat-body-msg {
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 10px;
                    max-width: 75%;

                    .user-chat-body-rectangle {
                        overflow-wrap: anywhere;
                        width: fit-content;
                        font-size: smaller;

                        background-image: $message_grad_dark;
                    }
                }

                .bitmap {
                    min-width: 32px;
                    min-height: 32px;
                }
            }

            .user-chat-body-user {
                flex-direction: row-reverse;
                justify-content: right;

                .user-chat-body-msg {
                    display: flex;
                    flex-direction: column;
                    margin: 0 10px 0 0;
                    max-width: 75%;
                    align-items: flex-end;

                    .user-chat-body-rectangle-user {
                        overflow-wrap: anywhere;
                        width: fit-content;
                        font-size: smaller;
                    }

                    .user-chat-body-timestamp {
                        text-align: right;
                    }
                }

                .user-circle {
                    min-width: 32px;
                }
            }
        }

        .user_chat_entry {
            width: 90%;
            margin-top: 5%;
            border-radius: 12px;
            border: solid 1px $chatbox_primary;
            align-self: center;
            margin-inline: 2.5%;

            font-size: small;
            padding: 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .user_chat_entry_text {
                padding-block: 2.5%;
                color: $negative_text;
                width: 80%;
                border: 0;
                background-color: $chatbox_secondary;
            }

            .user_chat_entry_image {
                border-radius: 10px;
                padding: 3%;
                background-color: $brand_primary;
            }
        }
    }

    .line {
        border-color: $chatbox_secondary;
        justify-self: center;
        align-self: center;
        margin: 0;
        width: 80%;
    }

    .open_button {
        font-size: small;
        padding-block: 5%;
        text-align: center;
        color: $brand_secondary;
        transition-duration: 0.4s;
        cursor: pointer;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        &:hover {
            background-color: $chatbox_secondary;
        }
    }
}