@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.Mask {
  width: 720px;
  height: 800px;
  margin: 24px 0 30px 30px;
  padding: 0 0 17px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  align-items: center;
}

.chat-header {
  display: flex;
  width: 205px; /* check what else is this width */
  height: 82px;
  padding: 12px 491px 12px 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.chat-header-contents {
  width: 200px;
  display: grid;
  grid-template-columns: 27% 73%;
}

.user-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  background-color: #ececec;
  text-align: center;
}

.AW {
  width: 19px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 600;
  color: #004b65;
}

.Austin-Wade {
  width: 98px;
  height: 19px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 600;
  color: #2c2c2c;
}

.austinwadeleapbit {
  width: 120px;
  height: 12px;
  margin: 2px 0 1px 8px;
  font-family: Rubik;
  font-size: 10px;
  color: #b8b8b8;
}

.chat-body {
  height: fit-content;
  overflow: auto;
}

.chat-body-client {
  display: flex;
  margin: 24px;
}

.chat-body-user {
  display: flex;
  flex-direction: row-reverse;
  margin: 24px;
}

.chat-body-rectangle {
  width: 469px;
  min-height: 20px;
  margin: 0 0 4px 12px;
  padding: 20px;
  border-radius: 12px;
  background-image: linear-gradient(79deg, #f5f5f5 0%, #e8e8e8);
  border-top-left-radius: 0;
  align-items: center;
  font-family: Rubik;
}

.Bitmap {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-body-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.chat-body-rectangle-user {
  color: white;
  width: 469px;
  min-height: 20px;
  margin: 0 12px 4px 0;
  padding: 20px;
  border-radius: 12px;
  background: rgb(254, 254, 254);
  background: linear-gradient(117deg, rgb(0, 94, 120) 0%, rgb(0, 77, 106) 90%);
  border-top-right-radius: 0;
  font-family: Rubik;
}

.chat-entry {
  width: 627px;
  height: 48px;
  margin-left: 30px;
  border-radius: 12px;
  border: solid 1px rgb(230, 229, 229);
  position: absolute;
  bottom: 17px;
  display: flex;
  align-items: center;
}

.chat-entry-text {
  border: none;
  outline: none;
  height: 40px;
  width: 90%;
  padding-left: 5px;
  font-size: 1.25rem;
}

.chat-entry-text:active {
  border: none;
  outline: none;
}

.chat-send-icon {
  width: 25px;
  height: 25px;
  padding: 8px;
  margin-left: 10px;
  opacity: 0.5;
  border-radius: 10px;
  background-color: #004b65;
  object-fit: cover;
}

.is-full {
  opacity: 1;
}

body {
  background-color: #141414;
  font-family: "Rubik", sans-serif;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main_title {
  max-width: 40%;
  min-width: fit-content;
  align-self: center;
  text-align: center;
}
body .main_title .gradient_text {
  background-image: linear-gradient(to right, #ff4e57 0%, #ff2a97 49%, #0096db);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
body .main_title .huge {
  font-size: 550%;
}
body .main_title .description {
  padding-left: 10%;
  padding-right: 10%;
  font-size: small;
}
body .main_title .negative {
  color: #ffffff;
}
body .floating_chatbox {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #2a2a2a;
  color: #ffffff;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  width: 20%;
  border-radius: 12px;
  min-width: fit-content;
}
body .floating_chatbox .closer {
  margin: 2px;
  width: 15px;
  height: 15px;
  background-color: #833434;
  position: absolute;
  top: -7px;
  right: -7px;
}
body .floating_chatbox .header {
  display: flex;
  flex-direction: row;
  font-size: small;
  padding: 5%;
  justify-content: space-between;
  height: fit-content;
}
body .floating_chatbox .header .subtitle {
  font-size: smaller;
  color: #7a7a7a;
}
body .floating_chatbox .header .avatar {
  position: relative;
  display: inline-block;
}
body .floating_chatbox .header .avatar .status {
  width: 10px;
  height: 10px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  bottom: 1px;
  right: 1px;
  background-color: #30de2f;
  position: absolute;
}
body .floating_chatbox .line {
  border-color: #2c2c2c;
  justify-self: center;
  align-self: center;
  margin: 0;
  width: 80%;
}
body .floating_chatbox .open_button {
  font-size: small;
  padding-block: 5%;
  text-align: center;
  color: #fee289;
  transition-duration: 0.4s;
  cursor: pointer;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
body .floating_chatbox .open_button:hover {
  background-color: #1f1f1f;
}