@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.-dashboard-01-Inactive {
  width: 1440px;
  height: 1080px;
  padding: 0 30px 0 0;
  background-color: #f6f6f6;
}
.-dashboard-01-Inactive .messages {
  width: 100%;
  height: 38px;
  margin: 32px 6px 24px 32px;
  font-family: Rubik;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  display: flex;
  color: #2c2c2c;
}
.-dashboard-01-Inactive .rectangle {
  width: 46px;
  height: 20px;
  margin: 7px 0px 0px 30px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #edfdf3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.-dashboard-01-Inactive .-new {
  width: 30px;
  height: 12px;
  font-family: Rubik;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e7a60;
}

.html {
  overflow: hidden;
  margin: 0;
}

.sidebar {
  width: 10%;
  height: calc(100vh - 4rem);
  padding: 0 86px 32px 85px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.sidebar .admin {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.sidebar .admin img {
  border-radius: 100%;
  width: 6rem;
  margin-bottom: 2rem;
}
.sidebar .admin .username {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 1rem;
}
.sidebar .admin .email {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  color: #2c2c2c;
}
.sidebar .navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 100%;
  margin-top: 2rem;
}
.sidebar .navigation .nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.sidebar .navigation .nav-item img {
  width: 1.2rem;
}
.sidebar .navigation .nav-item:hover {
  filter: invert(19%) sepia(42%) saturate(2468%) hue-rotate(167deg) brightness(100%) contrast(101%);
}
.sidebar .navigation .nav-item p {
  margin: 0.25rem 0 0.188rem 0.75rem;
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
}
.sidebar .navigation .nav-item:hover {
  font-weight: bolder;
}
.sidebar .navigation .bottom-nav {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  color: #2c2c2c;
  margin-top: 75%;
}

.mask-cbox {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 100%;
  margin: 24px 0 30px 30px;
  padding: 0 0 17px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  align-items: center;
}
.mask-cbox .chat-header {
  display: flex;
  flex-grow: 0;
  width: 205px; /* check what else is this width */
  height: 82px;
  padding: 12px 491px 12px 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.mask-cbox .chat-header .chat-header-contents {
  width: 200px;
  display: grid;
  grid-template-columns: 27% 73%;
}
.mask-cbox .user-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  background-color: #ececec;
  text-align: center;
}
.mask-cbox .user-circle .user-initials {
  width: 19px;
  height: 14px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #004b65;
}
.mask-cbox .chat-header-info .chat-header-uname {
  width: 98px;
  height: 19px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2c2c2c;
}
.mask-cbox .chat-header-info .header-usermail {
  width: 120px;
  height: 12px;
  margin: 2px 0 1px 8px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  color: #b8b8b8;
}
.mask-cbox .chat-body {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  height: 800px;
}
.mask-cbox .chat-body .chat-body-client {
  display: flex;
  margin: 24px;
}
.mask-cbox .chat-body .chat-body-client .chat-body-msg {
  display: flex;
  flex-direction: column;
  margin: 0 0 4px 12px;
}
.mask-cbox .chat-body .chat-body-client .chat-body-rectangle {
  position: relative;
  width: 469px;
  min-height: 20px;
  padding: 20px;
  border-radius: 12px;
  background-image: linear-gradient(45deg, #f5f5f5 0%, #e8e8e8);
  border-top-left-radius: 0;
  align-items: center;
  font-family: "Rubik", sans-serif;
}
.mask-cbox .chat-body .chat-body-user {
  display: flex;
  flex-direction: row-reverse;
  margin: 24px;
}
.mask-cbox .chat-body .chat-body-user .chat-user-logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}
.mask-cbox .chat-body .chat-body-user .chat-user-logo .chat-body-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mask-cbox .chat-body .chat-body-user .chat-body-msg-user {
  margin: 0 12px 4px 0;
}
.mask-cbox .chat-body .chat-body-user .chat-body-msg-user .chat-body-rectangle-user {
  color: white;
  width: 469px;
  min-height: 20px;
  padding: 20px;
  border-radius: 12px;
  background: rgb(254, 254, 254);
  background: linear-gradient(285deg, #00829e 100%, #004b65 0%);
  border-top-right-radius: 0;
  font-family: "Rubik", sans-serif;
}
.mask-cbox .chat-body .chat-body-user .chat-body-msg-user .user-timestamp {
  float: right;
}
.mask-cbox .chat-body .chat-body-timestamp {
  padding-top: 3px;
  width: auto;
  height: 9px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: #b8b8b8;
}

.send-msg {
  padding-top: 15px;
}
.send-msg .chat-entry {
  width: 627px;
  height: 48px;
  margin-left: 30px;
  border-radius: 12px;
  border: solid 1px rgb(230, 229, 229);
  bottom: 17px;
  display: flex;
  align-items: center;
}
.send-msg .chat-entry .chat-entry-text {
  border: none;
  outline: none;
  height: 40px;
  width: 90%;
  padding-left: 5px;
  font-size: 1.25rem;
}
.send-msg .chat-entry .chat-send-icon {
  width: 25px;
  height: 25px;
  padding: 8px;
  margin-left: 10px;
  opacity: 0.5;
  border-radius: 10px;
  background-color: #004b65;
  object-fit: cover;
}

.is-full {
  opacity: 1;
}

.chats-list {
  width: 350px;
  height: 956px;
  margin: 24px 30px 30px;
  padding: 24px 0 409px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.search-label {
  width: 73px;
  height: 12px;
  margin-bottom: 7px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.search-box {
  width: 80%;
  height: 32px;
  border-radius: 6px;
  border: solid 1px #eee;
}

.search-box::placeholder {
  width: 40px;
  height: 14px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b8b8b8;
}

.search-icon {
  width: 10px;
  height: 10px;
  margin: 2px 8px 2px 0;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b8b8b8;
}

.status-label {
  width: 31px;
  height: 12px;
  margin-bottom: 7px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.status-box {
  display: flex;
  width: 100%;
  height: 32px;
  border-radius: 6px;
  border: solid 1px #eee;
  align-items: center;
  justify-content: center;
}

.status-icon {
  width: 8px;
  height: 8px;
  margin: 3px 8px 3px 0;
  background-color: #3e7a60;
}

.status-placeholder {
  width: 36px;
  height: 14px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.status-divider {
  width: 350px;
  height: 1px;
  margin: 0 0 14px;
  background-color: #f6f6f6;
}

.message-box {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 0 1rem 0;
}
.message-box:hover {
  background-color: #f6f6f6;
}

.message-timestamp {
  float: right;
  font-family: "Rubik", sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b8b8b8;
}

.profile-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  background-color: #ececec;
  text-align: center;
}

.profile-initials {
  width: 17px;
  height: 14px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #004b65;
  padding: 9px 7px 9px 8px;
}

.message-timestamp {
  margin-right: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b8b8b8;
  float: right;
}

.profile-name {
  width: 111px;
  height: 19px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.profile-email {
  width: 127px;
  height: 12px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b8b8b8;
}

.message-text {
  width: 318px;
  height: 32px;
  margin: 7px 16px 16px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: #7a7a7a;
}

.notif-bg {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-left: 0.85rem;
  padding: 5px 5px 5px 5px;
  background-color: #edfdf3;
  text-align: center;
}

.notif-number {
  width: 7px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e7a60;
}

.chats-top {
  display: grid;
  grid-template-columns: 60% 40%;
}

.left,
.right {
  flex-grow: 1;
}

.chat-sender {
  display: grid;
  grid-template-columns: 13% 83%;
}

.sender-details {
  margin-left: 10px;
  width: 100%;
}

.chat-bottom {
  margin-top: 1rem;
}

.search-pack {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.search-pack-left {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 15px;
}

.active-box {
  margin-right: 15px;
}