@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.-Dashboard-01-Inactive {
  width: 1440px;
  height: 1080px;
  padding: 0 30px 0 0;
  background-color: #f6f6f6;
}
.-Dashboard-01-Inactive .Messages {
  width: 167px;
  height: 38px;
  margin: 32px 6px 24px 32px;
  font-family: Rubik;
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #2c2c2c;
}

.sidebar {
  width: 10%;
  height: 100%;
  padding: 100px 86px 32px 85px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.sidebar .admin {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}
.sidebar .admin img {
  border-radius: 100%;
  width: 6rem;
  margin-bottom: 2rem;
}
.sidebar .admin .username {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 1rem;
}
.sidebar .admin .email {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  color: #2c2c2c;
}
.sidebar .navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 75%;
}
.sidebar .navigation .nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.sidebar .navigation .nav-item:hover {
  color: #004b65;
  font-weight: bolder;
}
.sidebar .navigation .nav-item img {
  width: 1.2rem;
}
.sidebar .navigation .nav-item p {
  margin: 0.25rem 0 0.188rem 0.75rem;
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
}
.sidebar .navigation .bottom-nav {
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  color: #2c2c2c;
  margin-top: 100%;
}

.Mask {
  width: 720px;
  height: 800px;
  margin: 24px 0 30px 30px;
  padding: 0 0 17px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  align-items: center;
}

.chat-header {
  display: flex;
  width: 205px; /* check what else is this width */
  height: 82px;
  padding: 12px 491px 12px 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.chat-header-contents {
  width: 200px;
  display: grid;
  grid-template-columns: 27% 73%;
}

.user-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  background-color: #ececec;
  text-align: center;
}

.AW {
  width: 19px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 600;
  color: #004b65;
}

.Austin-Wade {
  width: 98px;
  height: 19px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 600;
  color: #2c2c2c;
}

.austinwadeleapbit {
  width: 120px;
  height: 12px;
  margin: 2px 0 1px 8px;
  font-family: Rubik;
  font-size: 10px;
  color: #b8b8b8;
}

.chat-body {
  height: fit-content;
  overflow: auto;
}

.chat-body-client {
  display: flex;
  margin: 24px;
}

.chat-body-user {
  display: flex;
  flex-direction: row-reverse;
  margin: 24px;
}

.chat-body-rectangle {
  width: 469px;
  min-height: 20px;
  margin: 0 0 4px 12px;
  padding: 20px;
  border-radius: 12px;
  background-image: linear-gradient(79deg, #f5f5f5 0%, #e8e8e8);
  border-top-left-radius: 0;
  align-items: center;
  font-family: Rubik;
}

.Bitmap {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-body-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.chat-body-rectangle-user {
  color: white;
  width: 469px;
  min-height: 20px;
  margin: 0 12px 4px 0;
  padding: 20px;
  border-radius: 12px;
  background: rgb(254, 254, 254);
  background: linear-gradient(117deg, rgb(0, 94, 120) 0%, rgb(0, 77, 106) 90%);
  border-top-right-radius: 0;
  font-family: Rubik;
}

.chat-entry {
  width: 627px;
  height: 48px;
  margin-left: 30px;
  border-radius: 12px;
  border: solid 1px rgb(230, 229, 229);
  position: absolute;
  bottom: 17px;
  display: flex;
  align-items: center;
}

.chat-entry-text {
  border: none;
  outline: none;
  height: 40px;
  width: 90%;
  padding-left: 5px;
  font-size: 1.25rem;
}

.chat-entry-text:active {
  border: none;
  outline: none;
}

.chat-send-icon {
  width: 25px;
  height: 25px;
  padding: 8px;
  margin-left: 10px;
  opacity: 0.5;
  border-radius: 10px;
  background-color: #004b65;
  object-fit: cover;
}

.is-full {
  opacity: 1;
}

.chats-list {
  width: 350px;
  height: 956px;
  margin: 24px 30px 30px;
  padding: 24px 0 409px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.search-label {
  width: 73px;
  height: 12px;
  margin: 0 109px 4px 0;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.search-box {
  width: 182px;
  height: 32px;
  margin: 4px 0 0;
  padding: 9px 112px 9px 12px;
  border-radius: 6px;
  border: solid 1px #eee;
  background-size: 1rem;
  background-image: url("../../public/assets/images/icon-search.svg");
  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
}

.search-box::placeholder {
  width: 40px;
  height: 14px;
  margin: 0 0 0 8px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b8b8b8;
}

.search-icon {
  width: 10px;
  height: 10px;
  margin: 2px 8px 2px 0;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b8b8b8;
}

.status-label {
  width: 31px;
  height: 12px;
  margin: 0 89px 4px 0;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.status-box {
  width: 120px;
  height: 32px;
  margin: 4px 0 0;
  padding: 9px 12px;
  border-radius: 6px;
  border: solid 1px #eee;
}

.status-icon {
  width: 8px;
  height: 8px;
  margin: 3px 8px 3px 0;
  background-color: #3e7a60;
}

.status-placeholder {
  width: 36px;
  height: 14px;
  margin: 0 35px 0 8px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.status-divider {
  width: 350px;
  height: 1px;
  margin: 0 0 14px;
  background-color: #f6f6f6;
}

.message-box {
  width: 350px;
  height: 110px;
  margin: 110px 0 17px;
  background-color: #ffffff;
}
.message-box:hover {
  background-color: #f6f6f6;
}

.message-timestamp {
  width: 75px;
  height: 9px;
  margin: 25px 16px 1px 76px;
  font-family: "Rubik", sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #b8b8b8;
}

.profile-bg {
  width: 32px;
  height: 32px;
  margin: 16px 8px 12px 16px;
  padding: 9px 7px 9px 8px;
  background-color: #edfdf3;
}

.profile-initials {
  width: 17px;
  height: 14px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #004b65;
}

.profile-name {
  width: 111px;
  height: 19px;
  margin: 14px 92px 2px 3px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.profile-email {
  width: 127px;
  height: 12px;
  margin: 1px 76px 13px 3px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b8b8b8;
}

.message-text {
  width: 318px;
  height: 32px;
  margin: 7px 16px 16px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: #7a7a7a;
}

.notif-bg {
  width: 16px;
  height: 16px;
  margin: 3px 3px 7px 37px;
  padding: 2px 4px 2px 5px;
  border: solid 1px #fff;
  background-color: #edfdf3;
}

.notif-number {
  width: 7px;
  height: 12px;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e7a60;
}