$background: #ffffff;
$background_dark: #141414;
$shadow: #000000;

$primary_text: #2c2c2c;             
$secondary_text: #7a7a7a;
$tertiary_text: #b8b8b8;
$negative_text: #ffffff;

$new_text: #3e7a60;
$new_background: #edfdf3;

$brand_primary: #004b65;
$brand_secondary: #fee289;

$coming_soon_grad: linear-gradient(to right, #ff4e57 0%, #ff2a97 49%, #0096db);
$my_message_grad: linear-gradient(285deg, #00829e 100%, #004b65 0%);
$message_grad: linear-gradient(45deg, #f5f5f5 0%, #e8e8e8);
$message_grad_dark: linear-gradient(71deg, #454545 0%, #2a2a2a);

$chatbox_primary: #2a2a2a;
$chatbox_secondary: #1f1f1f;

$background-message: #f6f6f6;

$red: #833434;
$green: #30de2f;

$user-circle: #ececec;