@import '_colors';
@import '_fonts';
@import "_chat_user";
@import '_floating_chatbox';

.home {
    background-color: $background_dark;
    font-family: $std_font;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .main_title {
        max-width: 40%;
        min-width: fit-content;
        align-self: center;
        text-align: center;

        .gradient_text {
            background-image: $coming_soon_grad;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }

        .huge {
            font-size: 550%;
            font-weight: 600; 
        }

        .description {
            padding-left: 10%;
            padding-right: 10%;
            font-size: small;
        }

        .negative {
            color: $negative_text;
        }
    }
}